.fileInput {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.fileInput>label {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.fileInput {
    margin-bottom: 20px;
}


.fileInput input[type="file"] {
    display: none;
}





.radioInput label {
    color: #333;
    font-size: 16px;
    align-items: center;
}

.radioInput>input {
    padding-right: 10px;
}


.radioInput input[type="radio"] {
    margin-right: 8px;
    cursor: pointer;
}

/* Style for the radio button */
.radioInput input[type="radio"]::before {
    width: 14px;
    height: 14px;
    content: '';
    display: block;
    border: 1px solid #007bff;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Style for the checked radio button */
.radioInput input[type="radio"]:checked::before {
    background-color: #007bff;
    border-color: #007bff;
}