.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    background-color: white;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: gray;
}

.noData {
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
    }
}