.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.filter {
    order: 1;
}

.employees {
    order: 2;
}

.stats {
    order: 3;
}

.filter,
.stats {
    width: 20%;
}

.employees {
    width: 60%;
}

.bigSearch {
    display: block;
}

.smallSearch {
    display: none;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {

    .content {
        flex-direction: column;
    }

    .filter {
        order: 2;
    }

    .stats {
        order: 1;
    }

    .filter,
    .stats {
        width: 100%;
    }

    .employees {
        width: 100%;
    }

    .bigSearch {
        display: none;
    }

    .smallSearch {
        display: block;
    }
}