.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    background-color: white;
}

.container>h3 {
    width: 100%;
    text-align: left;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.reset {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color: black;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

.reset:hover {
    background-color: white;
    color: var(--secondary-color);
}