.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 6px 10px;
    background-color: white;
    border-radius: 5px;
}

.container>div {
    width: 100%;
    text-align: center;
}

.header,
.info {
    padding: 6px;
}

.header {
    font-weight: 600;
}

.info {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}