.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search>input {
    margin-left: 8px;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
}