.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search > h3 {
    margin-right: 8px;
}

.search > input {
    margin-left: 8px;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
}